<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title" style="display: inline;">Your Farms</h4>
              <button mat-button type="button" matTooltip="Add New" [matTooltipPosition]="'above'" class="pull-right" style="display: inline;" (click)="initialize()" >
                <i class="material-icons" >add</i>
              </button>
            </div>
            <div class="card-body" >
              <form *ngIf="AddNewFarm" >
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Farm Name</mat-label>
                      <input [(ngModel)]="farmModels.farm_Name" name="Farm Name"  matInput placeholder="Farm Name" type="text" required >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Address Line 1</mat-label>
                      <input [(ngModel)]="farmModels.farm_Address" name="Farm_Address" matInput placeholder="Farm Address Line 1" type="text" required >
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Address Line 2</mat-label>
                      <input [(ngModel)]="farmModels.farm_Address_2" name="Farm_Address_2" matInput placeholder="Farm Address Line 2" type="text" required >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>City</mat-label>
                      <input [(ngModel)]="farmModels.city" name="City" matInput placeholder="City" type="text" required >
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>State</mat-label>
                      <input [(ngModel)]="farmModels.state" name="State" matInput placeholder="State" type="text" required >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Country</mat-label>
                      <input [(ngModel)]="farmModels.country" name="Country" matInput placeholder="Country" type="text" required >
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Postal Code</mat-label>
                      <input [(ngModel)]="farmModels.postalCode" name="PostalCode" matInput placeholder="PostalCode" type="text" required >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Phone No</mat-label>
                      <input [(ngModel)]="farmModels.farm_Phone_No" name="PhoneNo" matInput placeholder="Phone No" type="text" required >
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Grower Name</mat-label>
                      <input [(ngModel)]="farmModels.farm_Grower_Name" name="GrowerName" matInput placeholder="Grower Name" type="text" required >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Acres</mat-label>
                      <input [(ngModel)]="farmModels.farm_Acres" name="Acres"  matInput placeholder="Acres" type="text" required >
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Update()" *ngIf="farmModels.farm_Id != 0">Update Farm</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Save()" *ngIf="farmModels.farm_Id == 0">Save Farm</button>
                <button mat-raised-button type="submit" class="btn pull-right" (click)="Cancel()">Cancel</button>
                <div class="clearfix"></div>
              </form>
              <div *ngIf="!AddNewFarm" class="table-responsive">
                <table class="table" >
                  <thead class=" text-primary">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of farmList; let i = index">
                      <td>
                        {{item.farm_Id}}
                      </td>
                      <td>
                        {{item.farm_Name}}
                      </td>
                      <td class="text-primary">
                        {{item.farm_Address}}, {{item.farm_Address_2}} <br> {{item.city}} - {{item.postalCode}} <br> {{item.state}}, {{item.country}}
                      </td>
                      <td>
                        <button mat-raised-button type="button" (click)="getFarmDetail(item.farm_Id);" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>