<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="" style="height: 60px;">
            <!-- <h4 class="card-title" style="display: inline;">Farm Layout</h4>  -->
            <span style="font-weight: bolder;float: right;margin: 8px;">Today's Date : {{CurrentDate.toLocaleDateString()}}</span>
            <button *ngIf="farmId > 0" mat-button type="button" matTooltip="Add New" [matTooltipPosition]="'above'" class="pull-right" (click)="initialize();showAddUpdate=true;" >
              <i class="material-icons" >add</i>
            </button>
            <div class="col-md-4" style="font-size: 12px;width: 350px;color: white;margin-top: -10px;">
              <mat-form-field appearance="outline">
                <mat-label>Farm</mat-label>
                <mat-select [(ngModel)]="farmId" (selectionChange)="getLayout(0,$event.value)">
                  <mat-option *ngFor="let farm of farmList" [value]="farm.farm_Id">
                    {{farm.farm_Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="showAddUpdate" class="card-body">
            <form>
              <div class="row">
                <div class="col-md-2">
                  <label>Phases</label>
                </div>
                <div class="col-md-10">
                  <mat-form-field class="example-full-width" appearance="outline" >
                    <mat-label>Phases</mat-label>
                    <input [(ngModel)]="layoutModels.phases" name="phases"  matInput placeholder="phases" type="number" required >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label>Houses</label>
                </div>
                <div class="col-md-10">
                  <mat-form-field class="example-full-width" appearance="outline" >
                    <mat-label>Houses</mat-label>
                    <input [(ngModel)]="layoutModels.house" name="house"  matInput placeholder="house" type="number" required >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label>Rows</label>
                </div>
                <div class="col-md-10">
                  <mat-form-field class="example-full-width" appearance="outline" > 
                    <mat-label>Rows</mat-label>
                    <input [(ngModel)]="layoutModels.rows" name="rows"  matInput placeholder="rows" type="number" required >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label>Posts</label>
                </div>
                <div class="col-md-10">
                  <mat-form-field class="example-full-width" appearance="outline" > 
                    <mat-label>Posts</mat-label>
                    <input [(ngModel)]="layoutModels.posts" name="posts"  matInput placeholder="posts" type="number" required >
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="SaveLayout()" *ngIf="layoutModels.farm_Layout_Id == 0">Save Layout</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="UpdateLayout()" *ngIf="layoutModels.farm_Layout_Id > 0">Upadate Layout</button> 
              <button mat-raised-button type="submit" class="btn pull-right" (click)="initialize();showAddUpdate=false;">Cancel</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row" *ngIf="!showAddUpdate && layoutList.length>0">
      <div class="col-md-12 card" *ngFor="let layout of phaseList; let ci = index">

        <div class="col-md-12" style="display: inline;">
          <h4 class="card-title" style="display: inline;cursor: pointer;" (click)="getLayoutById(layout.layout_Id,0)">
            <u>Phase</u> - {{layout.phaseNo}}</h4>
          <button (click)="getLayoutById(layout.layout_Id,0)" style="background-color:transparent;border: transparent;">
            <mat-icon style="font-size: 15px;">edit</mat-icon>
          </button>
        
          <div class="row">
            <div class="col-md-12 card" *ngFor="let hous of layout.houseData; let ib = index" style="box-shadow:none;">
              <div class="row">
                
                <div class="row col-md-12" style="font-size: 12px;">
                  <h4 class="card-title" style="display: inline;" (click)="showHouseCrop = !showHouseCrop"><u>House</u> -
                    {{hous.houseNo}}</h4>
                    <button (click)="showHouseCrop = !showHouseCrop" style="background-color:transparent;border: transparent;">
                      <mat-icon style="font-size: 15px;">edit</mat-icon>
                    </button>
                </div>
                
                <div class="row col-md-12" *ngIf="showHouseCrop">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-8" >
                    <div class="col-md-12">
                      <mat-form-field appearance="outline">
                        <mat-label>Crop</mat-label>
                        <mat-select [(ngModel)]="hous.cropId" (selectionChange)="saveHouseCrop($event.value,hous.houseId)">
                          <mat-option *ngFor="let crop of cropList" [value]="crop.crop_Id">
                            {{crop.crop_Name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field appearance="outline">
                        <mat-label>Plantation Date</mat-label>
                        <input [(ngModel)]="hous.plantation_Date" name="plantation_Date" matInput [matDatepicker]="dp3" disabled>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field appearance="outline">
                        <mat-label>Cleanout Date</mat-label>
                        <input [(ngModel)]="hous.cleanout_Date" name="cleanout_Date" matInput [matDatepicker]="dp4" disabled>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                        <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <button type="button" mat-raised-button class="btn btn-primary">Update</button>
                    </div>
                  </div>
                  <div class="col-md-2">               
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col-md-6" style="margin: 10px 0px 0px 0px;box-shadow: none;" *ngFor="let row of hous.rowData; let ibs = index">
                  <div class="row">
        
                    <div class="col-md-1">
                      <h6 class="card-title" style="padding: 20px;">
                        ROW {{row.rowNo}}
                      </h6>
                    </div>
                    <div class="col-md-11">
                      <div class="row" style="background-color: rgb(191, 247, 154);padding: 20px;">
                        <div class="col-md-1 box" style="box-shadow: none;margin: 0px;z-index: 1;" *ngFor="let post of row.postData; let ibsp = index">
                          <button type="button" mat-raised-button class="btn btn-just-icon"
                            (click)="openPost(post.postId,post.postNo,row.rowId,row.rowNo, hous.houseId,hous.houseNo, layout.phaseId, layout.phaseNo)"
                            style="font-size: 12px;background-color:rgb(93, 185, 70)">
                            P{{ibsp+1}}
                          </button>
                        </div>
                        <div *ngIf="hous.cropId > 0" class="box stack-top"
                          style="box-shadow: none;margin: 0px;position: absolute;">
                          <button type="button" mat-raised-button class="btn btn-just-icon"
                            style="width: 200px;margin: 15% 0px 0px 100%;background-color: white;color: green;z-index: 1;">
                            <img [src]="getCropImage(hous.cropId)" style="height: 100%;">
                            {{getCropName(hous.cropId)}}
                          </button>
                        </div>
                      </div>
                    </div>
        
                    <!-- <div class="col-md-2">
                            <button type="button" mat-raised-button class="btn btn-just-icon" (click)="openPost(ibs+1, ib+1, i+1)"  style="margin: 10px;">
                              +
                            </button>
                          </div> -->
                  </div>
                </div>
        
              </div>
        
            </div>
          </div>
        
        </div>
        
      </div>
    </div>

  </div>
</div>

<div class="overlay" *ngIf="popup">
	<div class="popup">
    <div class="row">
      <div class="col-sm-6">
        <h4 style="text-align: left;font-weight: bold;"> Phase - {{selectedRow.phase}}, House - {{selectedRow.house}}, Row -
          {{selectedRow.row}}, Post - {{selectedRow.posts}}</h4>
        <h4 style="text-align: left;font-weight: bold;">Week No. {{CurrentWeek}}, Year {{CurrentDate.getFullYear()}}</h4>
      </div>
      <div class="col-sm-6 row">
        <div *ngIf="getPestName(pest_Id) != null" class="col-sm-4 img-box" >
          <img [src]="getPestImage(pest_Id)" alt="Pest" style="width:20px; height:20px;">
          <div>{{getPestName(pest_Id)}}</div>
        </div>
        <div *ngIf="getDeceaseName(decease_Id) != null" class="col-sm-4 img-box">
          <img [src]="getDeceaseImage(decease_Id)" alt="Decease" style="width:20px; height:20px;">
          <div>{{getDeceaseName(decease_Id)}}</div>
        </div>
        <div *ngIf="ivalue != 0" class="col-sm-4 img-box" [ngStyle]="{'background-color': IntensityColor}">
          <div>Intensity  {{ivalue}}%</div>
        </div>
    </div>
    </div>

    <a class="close" (click)="popup = false">&times;</a>
		<div class="container-fluid">
      
		  <div class="row" style="font-size: 12px">
        <div class="col-md-2" >
          <label >Pest</label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="fill">
            <mat-label>Pest</mat-label>
            <mat-select [(ngModel)]="pest_Id" (selectionChange)="getBenificials(pest_Id)">
              <mat-option *ngFor="let pest of pestList" [value]="pest.pest_Id" >
                {{pest.pest_Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="font-size: 12px">
        <div class="col-md-2"  >
          <label>Decease</label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="fill">
            <mat-label>Decease</mat-label>
            <mat-select [(ngModel)]="decease_Id">
              <mat-option *ngFor="let decease of deceaseList" [value]="decease.decease_Id" >
                {{decease.decease_Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="font-size: 12px">
        <div class="col-md-2" >
          <label >Benificials</label>
        </div>
        <div class="col-md-10">
        
          <ul style="list-style-type: none;">
            <li style="display: inline-block;" *ngFor="let benificial of benificialList">
              <input type="checkbox" id="benificial.benificials_ID" style="display: none;" />
              <label for="benificial.benificials_ID" class="chklabel">
                <img [src]="createSimpleImgPath(benificial.benificial_Image)" alt="Pest" style="width:50px; height:50px;" /></label>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" style="font-size: 12px">
        <div class="col-md-2" >
          <label >Intensity</label>
        </div>
        <div class="col-md-10">
          <mat-slider class="slider-width" [max]="100" [min]="1" [step]="1" (change)="OnIntensityChange(ivalue)"
            [thumbLabel]="true" [(ngModel)]="ivalue"
            aria-labelledby="intensity-label">
          </mat-slider>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4" >
              <input type="file" accept="image/*" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
              <button type="button" class="btn btn-success" (click)="file.click()">Select Image</button>
          </div>
          <div class="col-md-8" >
            <span><img [src]="createImgPath(post_Image)" alt="post picture" style="width:80px; height:80px;"></span>
            <span class="upload" *ngIf="progress > 0">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>
          </div>
      </div>

      <div class="row" style="font-size: 12px">
        <div class="col-md-12" >
          <label >Comment/Recommendation</label>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            [(ngModel)]="comment"
            cdkAutosizeMinRows="3"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="font-size: 12px">
        <button mat-raised-button type="submit" class="btn pull-left" (click)="getPreviousWeekData()" >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="savePost()" >Save Data</button>
        <button mat-raised-button type="submit" class="btn pull-left" (click)="getNextWeekData()" >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
		</div>
	</div>
</div>