<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title" style="display: inline;">Crops</h4>
            <button mat-button type="button" matTooltip="Add New" [matTooltipPosition]="'above'" class="pull-right"
              style="display: inline;" (click)="initialize();showAddUpdate=true;">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="card-body">
            <form *ngIf="showAddUpdate">
              <!-- <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="fill">
                    <mat-label>Farmer</mat-label>
                    <mat-select [(ngModel)]="cropModels.farmer_Id" (selectionChange)="getFarmsByFarmerId(cropModels.farmer_Id)" >
                      <mat-option *ngFor="let farmer of farmerList" [value]="farmer.id" >
                        {{farmer.firstName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Crop Name</mat-label>
                    <input [(ngModel)]="cropModels.crop_Name" name="crop_Name" matInput placeholder="Crop Name"
                      type="text" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-3">
                      <input type="file" accept="image/*" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                      <button type="button" class="btn btn-success" (click)="file.click()">Select Image</button>
                    </div>
                    <div class="col-md-4">
                      <span class="upload" *ngIf="progress > 0">
                        {{progress}}%
                      </span>
                      <span class="upload" *ngIf="message">
                        {{message}}
                      </span>
                    </div>
                  </div>
                  <div class="row" style="margin-left:10px;" >
                    <span><img [src]="createImgPath(cropModels.crop_Image)" alt="crop picture" style="width:120px; height:120px;"></span>
                  </div>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Update()"
                *ngIf="cropModels.crop_Id != 0">Update Crop</button>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Save()"
                *ngIf="cropModels.crop_Id == 0">Save Crop</button>
              <button mat-raised-button type="submit" class="btn pull-right"
                (click)="initialize();showAddUpdate=false;">Cancel</button>
              <div class="clearfix"></div>
            </form>
            <div *ngIf="!showAddUpdate" class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>ID</th>
                  <th>Crop</th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cropList; let i = index">
                    <td>
                      {{item.crop_Id}}
                    </td>
                    <td class="text-primary" >
                      {{item.crop_Name}}
                    </td>
                    <td class="text-primary" > 
                      <img [src]="createImgPath(item.crop_Image)" alt="pest picture" style="width:52px; height:52px;">
                    </td>
                    <td>
                      <button mat-raised-button type="button" (click)="getCropDetails(item.crop_Id);" matTooltip="Edit" [matTooltipPosition]="'above'"
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>