<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title" style="display: inline;">Application</h4>
              <button mat-button type="button" matTooltip="Add New" [matTooltipPosition]="'above'" class="pull-right" style="display: inline;" (click)="initialize();showAddUpdate=true;" >
                <i class="material-icons" >add</i>
              </button>
            </div>
            <div class="card-body">
              <form *ngIf="showAddUpdate" >
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="fill">
                      <mat-label>Application type</mat-label>
                      <mat-select [(ngModel)]="applicationModels.application_type">
                        <mat-option *ngFor="let appType of applicationTypeList" [value]="appType.applicationTypeId" >
                            <span>{{appType.applicationTypes}}</span>
                            <!-- <i class="material-icons">{{appType.icon}}</i> -->
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="fill">
                      <mat-label>Decease</mat-label>
                      <mat-select [(ngModel)]="applicationModels.decease_Id">
                        <mat-option *ngFor="let decease of deceaseList" [value]="decease.decease_Id" >
                          {{decease.decease_Name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="fill">
                      <mat-label>Assign To</mat-label>
                      <mat-select [(ngModel)]="applicationModels.application_Assigned_To" >
                        <mat-option *ngFor="let user of userList" [value]="user.user_Id" >
                          {{user.user_First_Name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Application Name</mat-label>
                      <input [(ngModel)]="applicationModels.application_Name" name="application_Name" matInput placeholder="Application Name" required >
                    </mat-form-field>
                  </div>
                </div>

                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Update()" *ngIf="applicationModels.application_Id != 0">Update Application</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Save()" *ngIf="applicationModels.application_Id == 0">Save Application</button>
                <button mat-raised-button type="submit" class="btn pull-right" (click)="initialize();showAddUpdate=false;">Cancel</button>
                <div class="clearfix"></div>
              </form>
              <div *ngIf="!showAddUpdate" class="table-responsive" >
                <table class="table" >
                  <thead class=" text-primary">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Application Type</th>
                    <th>Assigned To</th>
                    <!-- <th>Assigned By</th> -->
                    <th>Decease</th>
                    <th>Date</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of applicationList; let i = index">
                      <td>
                        {{item.application_Id}}
                      </td>
                      <td class="text-primary" >
                        {{item.application_Name}}
                      </td>
                      <td class="text-primary" >
                        {{getApplicationType(item.application_type)}}
                      </td>
                      <td >
                        {{getUserByID(item.application_Assigned_To)}}
                      </td>
                      <!-- <td>
                        {{getUserByID(item.application_who_Assigned)}}
                      </td> -->
                      <td>
                        {{getDeceaseById(item.decease_Id)}}
                      </td>
                      <td>
                        {{item.application_Date}}
                      </td>
                      <td>
                        <button mat-raised-button type="button" (click)="getApplicationDetails(item.application_Id);" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>