<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title" style="display: inline;">Benificials</h4>
              <button mat-button type="button" matTooltip="Add New" [matTooltipPosition]="'above'" class="pull-right" style="display: inline;" (click)="initialize();showAddUpdate=true;" >
                <i class="material-icons" >add</i>
              </button>
            </div>
            <div class="card-body">
              <form *ngIf="showAddUpdate" >
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Benificial Name</mat-label>
                      <input [(ngModel)]="benificialModels.benificial_Name" name="benificial_Name"  matInput placeholder="Benificial Name" type="text" required >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Benificial Description</mat-label>
                      <input [(ngModel)]="benificialModels.benificial_Description" name="benificial_Description" matInput placeholder="Benificial Description" type="text" required >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="fill">
                      <mat-label>Pests</mat-label>
                      <mat-select [(ngModel)]="benificialModels.benificial_Pests" multiple >
                        <mat-option *ngFor="let pest of pestList" [value]="pest.pest_Id" >
                          {{pest.pest_Name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <!-- <mat-form-field class="example-full-width">
                      <input [(ngModel)]="benificialModels.benificial_Image" name="benificial_Image" matInput placeholder="Benificial Image" required >
                    </mat-form-field> -->
                    <div class="row" style="margin-bottom:15px;">
                      <div class="col-md-3">
                        <input type="file" accept="image/*" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                        <button type="button" class="btn btn-success" (click)="file.click()">Select Image</button>
                      </div>
                      <div class="col-md-4">
                        <span class="upload" *ngIf="progress > 0">
                          {{progress}}%
                        </span>
                        <span class="upload" *ngIf="message">
                          {{message}}
                        </span>
                      </div>
                    </div>
                    <div class="row" style="margin-left:10px;" >
                      <span><img [src]="createImgPath(benificialModels.benificial_Image)" alt="benificial picture" style="width:120px; height:120px;"></span>
                    </div>
                  </div>
                </div>
                
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Update()" *ngIf="benificialModels.benificials_ID != 0">Update Benificial</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="Save()" *ngIf="benificialModels.benificials_ID == 0">Save Benificial</button>
                <button mat-raised-button type="submit" class="btn pull-right" (click)="initialize();showAddUpdate=false;">Cancel</button>
                <div class="clearfix"></div>
              </form>
              <div *ngIf="!showAddUpdate" class="table-responsive" >
                <table class="table" >
                  <thead class=" text-primary">
                    <th>ID</th>
                    <th>Image</th>
                    <th>Benificials</th>
                    <th>Description</th>
                    <th>Pests</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of benificialList; let i = index">
                      <td>
                        {{item.benificials_ID}}
                      </td>
                      <td>
                        <img [src]="createImgPath(item.benificial_Image)" alt="Benificial picture" style="width:64px; height:64px;border-radius: 50%;">
                      </td>
                      <td  class="text-primary" >
                        {{item.benificial_Name}}
                      </td>
                      <td style="width: 60%;" >
                        {{item.benificial_Description}}
                      </td>
                      <td>
                        {{getPestsByIds(item.benificial_Pests)}}
                      </td>
                      <td>
                        <button mat-raised-button type="button" (click)="getBenificialDetails(item.benificials_ID);" matTooltip="Edit" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>